In [28]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
import numpy as np
import requests

In [19]:
df = pd.read_csv('MostPopularMovies_89_19.csv')
print(df.shape)
df.head()

(7130, 14)

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,323.546,2478,False,/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg,419704,False,/5BwqwxMEjeFtdknRV792Svo0K1v.jpg,en,Ad Astra,"[12, 18, 9648, 878, 53]",Ad Astra,6.0,"The near future, a time when both hope and har...",2019-09-17
1,233.733,1864,False,/bB42KDdfWkOvmzmYkmK58ZlCa9P.jpg,512200,False,/hreiLoPysWG79TsyQgMzFKaOTF5.jpg,en,Jumanji: The Next Level,"[28, 12, 35, 14]",Jumanji: The Next Level,6.8,As the gang return to Jumanji to rescue one of...,2019-12-04
2,127.227,2591,False,/pjeMs3yqRmFL3giJy4PMXWZTTPa.jpg,330457,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,en,Frozen II,"[12, 16, 10751]",Frozen II,7.0,"Elsa, Anna, Kristoff and Olaf head far into th...",2019-11-20
3,108.054,2469,False,/pThyQovXQrw2m0s9x82twj48Jq4.jpg,546554,False,/cjTQSwcsfVdirSFSHNBXRGkxmWa.jpg,en,Knives Out,"[35, 80, 18, 9648, 53]",Knives Out,7.8,When renowned crime novelist Harlan Thrombey i...,2019-11-27
4,98.211,9521,False,/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg,475557,False,/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg,en,Joker,"[80, 18, 53]",Joker,8.2,"During the 1980s, a failed stand-up comedian i...",2019-10-02

In [32]:
# movie_id = df.id[:2]
# for id_ in movie_id:
#     movie_id_url = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language=en-US')

In [21]:
df['release_date'].value_counts

<bound method IndexOpsMixin.value_counts of 0       2019-09-17
1       2019-12-04
2       2019-11-20
3       2019-11-27
4       2019-10-02
           ...
7125    2018-08-17
7126    2016-12-02
7127    2016-02-19
7128    2015-12-03
7129    2009-04-02
Name: release_date, Length: 7130, dtype: object>

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7130 entries, 0 to 7129
Data columns (total 14 columns):
popularity           7130 non-null float64
vote_count           7130 non-null int64
video                7130 non-null bool
poster_path          7130 non-null object
id                   7130 non-null int64
adult                7130 non-null bool
backdrop_path        7130 non-null object
original_language    7130 non-null object
original_title       7130 non-null object
genre_ids            7130 non-null object
title                7130 non-null object
vote_average         7130 non-null float64
overview             7130 non-null object
release_date         7130 non-null object
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 682.5+ KB

In [5]:
df.isna().sum().sum()

0

In [18]:
df.describe()

        popularity    vote_count             id  vote_average
count  7130.000000   7130.000000    7130.000000   7130.000000
mean     25.931030   3597.239130  291930.569565      6.789565
std      29.161267   3365.923804  184977.847334      0.774244
min       1.769000   1011.000000      28.000000      4.300000
25%      13.851000   1584.000000  118340.000000      6.200000
50%      18.529500   2483.000000  335890.000000      6.700000
75%      27.318000   4029.000000  449562.000000      7.300000
max     323.546000  19816.000000  567609.000000      8.600000

In [9]:
df.size

99820

In [15]:
df.columns

Index(['popularity', 'vote_count', 'video', 'poster_path', 'id', 'adult',
       'backdrop_path', 'original_language', 'original_title', 'genre_ids',
       'title', 'vote_average', 'overview', 'release_date'],
      dtype='object')

## things I may want to take out 
* video
* original title
* poster path

## edit

*genre_id

## loop 
1. for every id in my data frame i need to scrap revenue and budget

(keep in mind some of the movies did not have this info avalible so you could temperarly drop for the sake of analysis .......maybe?)

In [25]:
for i in df.id[:2]:
    print(i)

419704
512200

In [33]:
df2 = pd.read_csv('Movies_by_id.csv')

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3667 entries, 0 to 3666
Data columns (total 25 columns):
adult                    3667 non-null bool
backdrop_path            3667 non-null object
belongs_to_collection    1357 non-null object
budget                   3667 non-null int64
genres                   3667 non-null object
homepage                 2870 non-null object
id                       3667 non-null int64
imdb_id                  3667 non-null object
original_language        3667 non-null object
original_title           3667 non-null object
overview                 3667 non-null object
popularity               3667 non-null float64
poster_path              3667 non-null object
production_companies     3667 non-null object
production_countries     3667 non-null object
release_date             3667 non-null object
revenue                  3667 non-null int64
runtime                  3667 non-null int64
spoken_languages         3667 non-null object
status                   3667 non-null object
tagline                  3396 non-null object
title                    3667 non-null object
video                    3667 non-null bool
vote_average             3667 non-null float64
vote_count               3667 non-null int64
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 666.2+ KB

In [34]:
df2.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/cjTQSwcsfVdirSFSHNBXRGkxmWa.jpg,NaN,40000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",https://www.knivesout.movie/,546554,tt8946378,en,Knives Out,...,2019-11-27,163700000,131,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,"Hell, any of them could have done it.",Knives Out,False,7.8,2488
1,False,/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg,NaN,55000000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",http://www.jokermovie.net/,475557,tt7286456,en,Joker,...,2019-10-02,1073698955,122,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Put on a happy face.,Joker,False,8.2,9552
2,False,/riTANvQ8GKmQbgtC1ps3OfkU43A.jpg,"{'id': 528, 'name': 'The Terminator Collection...",185000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",https://www.paramountmovies.com/movies/termina...,290859,tt6450804,en,Terminator: Dark Fate,...,2019-10-23,233685077,128,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Welcome to the day after judgement day,Terminator: Dark Fate,False,6.3,1580
3,False,/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,...,2018-04-25,2046239637,149,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.3,16900
4,False,/cqa3sa4c4jevgnEJwq3CMF8UfTG.jpg,NaN,100000000,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",https://www.1917.movie/,530915,tt8579674,en,1917,...,2019-12-10,200483309,119,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Time is the enemy,1917,False,8.0,2974

In [90]:
# movie_genres =  df2['genres'].unique()
# for movie in movie_genres.items():
#     print(movie['id'])


# l = {'up': False, 'left': False, 'right': False}
# a = []
# for key, value in l.iteritems():
#     temp = [key,value]
#     a.append(temp)
movie_genres =  df2['genres'].unique()
# genres = []
# for key, value in movie_genres:
#     genre = [key,value]
#     genres.append(genre)
genres = list(movie_genres)
genres[1]

"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]"